* {
    margin: 0;
    padding: 0;
}

@keyframes contentUnderButton {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.contentUnderButton {
    animation: contentUnderButton 0.8s;
}